<a href="https://colab.research.google.com/github/AqueeqAzam/pandas-for-machine-learning-data-science-an-data-analytic/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# `Series`

In [ ]:
import pandas as pd
a = pd.Series([1, 2, 3, 4], name='python')
print(a)

# get data by index
a = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
print(a)
print(type(a))

# get value by index
print(a[2])

dic = {'name': ['python', 'c', 'c++', 'java'], 'por':[12, 13, 14, 15], 'rank':[1, 2, 3, 4]}
var = pd.Series(dic)
print(var)

a = pd.Series([1, 2, 3, 4, 5, 6, 7])
b = pd.Series([1, 2, 3, 4])
print(a+b)

# `DataFrame`

In [ ]:
import pandas as pd

l = [1, 2, 3, 4, 5, 6, 7]
var = pd.DataFrame(l)
print(var)

d = {'a': [1, 2, 3, 4, 5, 6, 7], 'b': [1, 2, 3, 4, 5, 6, 7]}
var = pd.DataFrame(d, columns=['a', 1])
print(var)

# `Arthematic Operation`

In [ ]:
import pandas as pd

var = pd.DataFrame({"A": [1, 2, 3], "B": [5, 6, 7]})

# print(var)

# addition
var['C'] = var['A'] + var['B']
print(var)

# gt and lt
var['python'] = var['A'] >=10
print(var)

# `Delete and Insert`

In [ ]:
import pandas as pd

var = pd.DataFrame({"A": [1, 2, 3], "B": [5, 6, 7], "B": [5, 6, 7], "C": [8, 9, 10]})

# insert data insert(index, pos, data)
var.insert(1, 'java', var['A'])
print(var)

# delete data
var1 = var.pop('B')
print(var1)
print(var)

# `Write csv File`

In [ ]:
import pandas as pd

dic = {'a': [1, 2, 3, 4], 'b': [5, 6, 7, 8], 'c': [9, 10, 11, 12]}
df = pd.DataFrame(dic)
print(df)

df.to_csv('test.csv')

# `Read csv`

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/AqueeqAzam/data-science-and-machine-learning-datasets/main/test.csv")
print(df)

In [ ]:
import pandas as pd

# df = pd.read_csv("https://raw.githubusercontent.com/AqueeqAzam/data-science-and-machine-learning-datasets/main/test.csv")
# print(df)

# select one rows
df = pd.read_csv("https://raw.githubusercontent.com/AqueeqAzam/data-science-and-machine-learning-datasets/main/test.csv", nrows=1)
# print(df)

# select one columns
df = pd.read_csv("https://raw.githubusercontent.com/AqueeqAzam/data-science-and-machine-learning-datasets/main/test.csv", usecols=['company'])
# print(df)

# skip rows
df = pd.read_csv("https://raw.githubusercontent.com/AqueeqAzam/data-science-and-machine-learning-datasets/main/test.csv", skiprows=[1])
# print(df)

# makeing index
df = pd.read_csv("https://raw.githubusercontent.com/AqueeqAzam/data-science-and-machine-learning-datasets/main/test.csv", index_col="Name")
# print(df)

# makeing heading
df = pd.read_csv("https://raw.githubusercontent.com/AqueeqAzam/data-science-and-machine-learning-datasets/main/test.csv", header=2)
print(df)

# `Special Function`

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/AqueeqAzam/data-science-and-machine-learning-datasets/main/test.csv")
df

# index fun
df.index

# column fun
df.columns

# info fun
# df.info()

# shape fun
# df.describe()

# head fun
df.head(2)

# tsil fun
df.tail(2)

# index fun [start: index]
df[:2]

df[2:6]

# index array
df.index.array

df.to_numpy()

# `Handling Missing Data`

In [ ]:
import pandas as pd
import numpy as np


df = pd.read_csv("https://raw.githubusercontent.com/AqueeqAzam/data-science-and-machine-learning-datasets/main/test.csv")
df

# remove null values
df.dropna()

# fill data in null values
df['Age'] = df['Age'].replace(np.nan, '30')
df

# fill comapny name at place of null value
df['company'] = df['company'].replace(np.nan, 'Google')
df

# `Hangle duplicate value`

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/AqueeqAzam/data-science-and-machine-learning-datasets/main/test.csv")
df

# see duplicate values
df.duplicated()

# calculate duplicate values
df.duplicated().sum()

# remove dupliaced values,User Id can not be same
df.drop_duplicates('Id')

# `Replace`

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/AqueeqAzam/data-science-and-machine-learning-datasets/main/test.csv")
# print(df)

# replace funtion
df.replace(to_replace="Tyson", value="Aqueeq")
df.replace(to_replace="amazon", value="Amazon")
df.replace({"Age": '[21-23]'}, 24, regex=True)

# forward and backword filling
df.replace('40k',method='ffill')
df.replace('40k',method='bfill')

# limit function
df.replace(332, method='bfill', limit=2)

# interploate
df.interpolate()

# `Merge and Cancat`

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})
df2 = pd.DataFrame({'A':[1,2,3], 'C':[4,5,6]})

pd.merge(df1, df2, on='A')

s1 = pd.Series([1,2,3,4])
s2 = pd.Series([5,6,7,8])

pd.concat([s1, s2])

df1 = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})
df2 = pd.DataFrame({'A':[1,2], 'C':[4,5]})

df1.join(df2, on='A' ,lsuffix='_left', rsuffix='_right')

   A_left  B  A_right    C
0       1  4      2.0  5.0
1       2  5      NaN  NaN
2       3  6      NaN  NaN